body { margin: 0; }
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.blink { animation: blinker 0.8s step-start infinite; }
@keyframes blinker { 50% { opacity: 0.0; } }

#target {
  width: 100vw;
  height: 100vh;
  background: url('start.png'), #ffce00;
  background-size: contain;
}

#front {
  background: url('start_button.png');
  background-size: contain;
}

#main {
  background:
    url('button0.png'),
    url('button1.png'),
    url('button2.png'),
    url('button3.png'),
    url('bkground.png'),
    black;
  background-size: contain;
}

#main .button {
  position: absolute;
  outline: none;
  top: 127px;
  width: 57px;
  height: 57px;
}
