body { margin: 0; }
img {
  max-width: 100%;
  max-height: 100%;
}

.blink { animation: blinker 0.8s step-start infinite; }
@keyframes blinker { 50% { opacity: 0.0; } }

#target {
  width: 100vw;
  height: 100vh;
}

#front {
  background: url('start.png');
  background-size: contain;
}

#main {
  text-align: center;
}
